<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CheckServerLoadBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CheckServerLoadBinding1" />
                <binding name="ApiProductsStocksBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ApiProductsStocksBinding1" />
                <binding name="ApiProductsBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ApiProductsBinding1" />
                <binding name="ApiOrdersBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ApiOrdersBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://mm-moto.iai-shop.com/api/?gate=checkserverload/checkServerLoad/6/soap"
                binding="basicHttpBinding" bindingConfiguration="CheckServerLoadBinding"
                contract="ServiceReferenceIAI.checkServerLoadPortType" name="CheckServerLoadPort" />
            <endpoint address="https://mm-moto.iai-shop.com/api/?gate=productsstocks/get/0/soap"
                binding="basicHttpBinding" bindingConfiguration="ApiProductsStocksBinding"
                contract="ApiProductsSocksServiceGet.ApiProductsStocksPortType"
                name="ApiProductsStocksPort" />
            <endpoint address="https://mm-moto.iai-shop.com/api/?gate=products/get/105/soap"
                binding="basicHttpBinding" bindingConfiguration="ApiProductsBinding"
                contract="ApiProductsServiceGet.ApiProductsPortType" name="ApiProductsPort" />
            <endpoint address="https://mm-moto.iai-shop.com/api/?gate=orders/getOrdersNotFinished/77/soap"
                binding="basicHttpBinding" bindingConfiguration="ApiOrdersBinding"
                contract="ApiGetOrdersNotFinishedGet.ApiOrdersPortType" name="ApiOrdersPort" />
        </client>
    </system.serviceModel>
</configuration>
