<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CheckServerLoadBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CheckServerLoadBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://mm-moto.iai-shop.com/api/?gate=checkserverload/checkServerLoad/6/soap"
                binding="basicHttpBinding" bindingConfiguration="CheckServerLoadBinding"
                contract="ServiceReferenceIAI.checkServerLoadPortType" name="CheckServerLoadPort" />
        </client>
    </system.serviceModel>
</configuration>
